
.centernote {
    text-align: center;
    font-weight: bold;
}

#pagebody {
    border-right: 1px solid #ececec;
}

#sidebar {

}

#sitelogo {
    width: 313px;
    height: 80px;
    background-image: url("/static/sitelogo.png");
}

#pagefooter {
    text-align: center;
}

.error {
    color: red;
}

.centered {
    margin: 0 auto;
}