{% extends 'site_base.html' %}
{% load widgets %}

{% block title %}Login{% endblock %}

{% block body %}

    <form method="post" class="uk-form uk-form-stacked" action="{% url 'login' %}">
        <fieldset data-uk-margin class="uk-margin">

            <div class="block">Enter your email and a password to sign
                in.
            </div>

            {% form_errors form %}

            <div class="uk-form-row">
                {{ form.email.errors }}
                <label class="uk-form-label" for="email">Email</label>
                {{ form.email }}
            </div>
            <div class="uk-form-row">
                {{ form.password.errors }}
                <label class="uk-form-label" for="password">Password</label>
                {{ form.password }}
                {% csrf_token %}
            </div>
            {% if captcha %}
                <div class="uk-form-row">
                    {{ captcha|safe }}
                </div>
            {% endif %}

            <div class="uk-form-row">
                <button class="uk-button uk-button-success">Log In</button>
            </div>

        </fieldset>

        <hr>

        <div class="block">
            Did you forget your password? <a href="{% url 'reset' %}">Reset your password &raquo;</a>

        </div>

    </form>

{% endblock %}