<div class="">
    <p class="uk-form-help-block uk-text-muted">
        Write your post below. The preview panel will shows the final result.
    </p>

    <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
         <textarea class="wmd-input" id="wmd-input" name="text" rows="10"
                   - placeholder="Type your post here">{{ value }}</textarea>
    </div>
</div>

<div class="uk-margin-top">
    <div>Post Preview</div>
    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
</div>
