{% extends 'site_base.html' %}

{% block body %}

    <div class="uk-grid uk-grid-small">

        <div class="uk-width-1-1 uk-width-small-2-3 uk-width-medium-7-9 uk-width-large-7-10"
             id="main">
            <div class="block">
                {% block main %}
                    Main Content
                {% endblock %}
            </div>
        </div>

        <div class="uk-width-1-1 uk-width-small-1-3 uk-width-medium-2-9 uk-width-large-3-10"
             id="right">
            <div class="block">
                {% block right %}
                    <p>
                        Recent votes
                    </p>

                    <p>
                        Recent locations
                    </p>

                    <p>
                        Recent awards
                    </p>

                    <p>
                        Recent replies
                    </p>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}