{% extends 'site_base.html' %}
{% load widgets %}
{% load static %}

{% block title %}New Post{% endblock %}

{% block head %}

    <script type="text/javascript" src="{% static "lib/pagedown/Markdown.Converter.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/pagedown/Markdown.Sanitizer.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/pagedown/Markdown.Editor.js" %}"></script>

    {#  Markdown editor style #}
    <link rel="stylesheet" href={% static "lib/pagedown/markdown.css" %}>

{% endblock %}

{% block body %}

    <form method="post" enctype="multipart/form-data" class="uk-form uk-form-stacked uk-width-1-1"
          action="{% url 'post_new' %}">

        <div class="block">
            <h2>{{ form_title }}</h2>
        </div>

        <div class="uk-width-1-1 uk-width-medium-2-4 uk-panel-box form_bg">

            {% form_errors form %}

            {% for field in form %}
                <div>
                    {{ field.errors }}
                    <label class="uk-form-label"
                           for="{{ field.name }}">{{ field.label_tag }}</label>

                    {{ field }}
                    {% if field.help_text %}
                        <p class="uk-form-help-block">
                            {{ field.help_text|safe }}
                        </p>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}

            <div class="uk-form-row user_edit">
                <button class="uk-button uk-button-success uk-margin-top">Submit</button>
            </div>

            {% csrf_token %}


    </form>

{% endblock %}