{% extends 'postlist_base.html' %}
{% load widgets %}

{% block title %}Home{% endblock %}

{% block main %}

    {% for post in posts %}
        <div class="post_row">

            <div class="boxes">
                <div class="box c">
                    <div class="bignum">{{ post.vote_count }}</div>
                    <div class="label">votes</div>
                </div>
                <div class="box v">
                    <div class="bignum">{{ post.reply_count }}</div>
                    <div class="label">replies</div>
                </div>
                <br>

                <div class="label">{{ post.view_count }} views</div>

            </div>

            <div class="hold">

                <div class="post_title">
                    <a href="{% url 'post_details' pid=post.id %}">{{ post.title }}</a>
                </div>

                {% tag_line post %}

            </div>

        </div>
    {% endfor %}

{% endblock %}