{% extends 'site_base.html' %}
{% load widgets %}
{% load static %}

{% block title %}New Post{% endblock %}

{% block head %}

    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Converter.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Sanitizer.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Editor.js" %}"></script>

    {#  Markdown editor style #}
    <link rel="stylesheet" href={% static "lib/pagedown/markdown.css" %}>

{% endblock %}

{% block body %}

    <form method="post" enctype="multipart/form-data"
          class="uk-form uk-form-stacked uk-width-1-1"
          action="{{ action }}">

        <div class="block">
            <h2>{{ form_title }}</h2>
        </div>

        <div class="uk-width-1-1 uk-width-medium-4-6 uk-panel-box form_bg">

            {% form_errors form %}

            <div>
                {% form_field form.title %}
                <hr>
            </div>

            <div>
                {% form_field form.tag_val %}
                <hr>
            </div>

            <div class="uk-grid">
                <div class="uk-width-1-2">
                    {% form_field form.type %}
                </div>

                <div class="uk-width-1-2">
                    {% form_field form.status %}
                </div>
            </div>

            <div class="uk-form-row">
                <hr>
                {% form_field form.text %}
                <hr>
            </div>

            <div>
                {% form_field form.uploads %}
                <hr>
            </div>

            {% if form.remove_ids %}
                <div>
                    {% form_field form.remove_ids %}
                    <hr>
                </div>
            {% endif %}

            <div class="uk-form-row user_edit">
                <button class="uk-button uk-button-success uk-margin-top">Submit</button>
            </div>

            {% csrf_token %}


    </form>

{% endblock %}